html{
   scroll-behavior:smooth;
   
}
body{ max-width: 100% ;}

#area-1, #area-2, #area-3, #area-4 {
    display: block;
    width: 100%;
    

}
#area-1 {
    background-color: #fff;
    height: 600px;
    display: flex;
    flex-flow: nowrap;
    padding: 150px 60px;
   
}

#area-1 h2{
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: orangered;
}

#area-1 h3{
    font-weight: 600;
    line-height: 90px;
    font-size: 2rem;
}
#area-1 img{
    position: relative;
    width: 40%;
    height: 100%;
    margin: 10px 50px 0 0px;
}

#area-1 .conteudo{
    display: block;
    padding: 10px 0px 0px 00px    
}

#area-2 {
    background-color:#000;
    clip-path: polygon(0% 0%, 0% 100%, 100% 90%, 100% 0%);
    min-height: 510px;
    max-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;
    overflow: hidden;
    text-shadow: 3px 3px 19px #0008;
}

#area-2 .container{
    min-height: 510px;
    max-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    flex-flow: column;
    position: relative;
    z-index: 3;

}

#area-2 h2{
    color: white;
    font-size: 4rem;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
}
#area-2 h3{
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    color: orangered;
}

#area-2 .buton {z-index: 2;margin: 80px;}

#area-2 h2{z-index: 2;margin: 00px;}
#area-2 .buton{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;
    position: relative;

}
#area-2 .background {
    width: 100%;
    min-height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: blue;
    background-attachment: fixed;
    background-image: url(../img/7.jpg);
    background-position:top;
    background-size: cover;
    z-index: 1;
    filter:blur(4px)grayscale(50%)  opacity(0.3);
    top:-520px;
    position: relative;
    
}

#area-3{
    background-color: white; 
    line-height: 2.2rem;
    font-size: 1.37rem;
    display: flex;
    flex-flow: wrap;
    min-height: 350px;
    transition: 1s;
}
#area-3 h2{line-height: 5.4rem;font-size: 2.3rem;}
.opacityObj{
    opacity: 0.0;
    transition: 1s;
}

#area-4 {
    background-color: white; 
    line-height: 2.2rem;
    font-size: 1.37rem;
    display: flex;
    flex-flow: no-wrap;
    padding: 65px;
    height: 550px;
    transition: 1s;
    
}

.about {
    width: 45%;
    min-width: 400px;
    max-width: 650px;
    margin-left: 5%;
    float: left;
    color: #2d2d33;
}


.about h2{
    color:rgba(240, 65, 30, 1);
}

.img-user {
	display: flex;
	position: relative;
	top: -150px;
	width: 350px;
	height: 350px;
	border-radius: 50%;
    background-color: white;
    margin-left: 12%;
    margin-right: 20px;
    z-index: 1;
    float: left;
    
}

.img-user img{
	display: block;
	margin: auto;
	border-radius: 50%;
	width: 90%;
    height: 90%;
    

}


#header {
    width: 100%;
    display: flex;
    height: 630px;
    color: #fff;
    flex-flow: column;
    background-color: rgb(255, 255, 255);
    text-shadow: 3px 3px 19px rgba(0, 0, 0, 0.267);
    
    
}


@keyframes fundo{
    0% {background-image: url(../img/9.jpg);}
    28% {background-image: url(../img/9.jpg);}
    33%{background-image: url(../img/6.jpg);}
    61%{background-image: url(../img/6.jpg);}
    66%{background-image: url(../img/2.jpg);}
    95%{background-image: url(../img/2.jpg);}
    100% {background-image: url(../img/9.jpg);}
    
}
@-webkit-keyframes fundo{
    0% {background-image: url(../img/9.jpg);}
    28% {background-image: url(../img/9.jpg);}
    33%{background-image: url(../img/6.jpg);}
    61%{background-image: url(../img/6.jpg);}
    66%{background-image: url(../img/2.jpg);}
    95%{background-image: url(../img/2.jpg);}
    100% {background-image: url(../img/9.jpg);}
}

#header::before{
    width: 100%;
    display: flex;
    height: 630px;
    content: '';
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;   
    filter: grayscale(45%);
    background-attachment: fixed;
    transition: 1s;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.88;
    animation-name: fundo;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    -webkit-animation-name: fundo;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 0s;
    clip-path: polygon(0% 0%, 0% 100%, 12% 95%, 88% 95%, 100% 100%, 100% 0%);
}

#typed-box{
    position: relative;
    margin: auto auto auto 25%;
    width: 900px;
}

#header > *{
    z-index: 3;
}



#header h1{
    margin: 20vh auto auto auto;
    text-transform:uppercase;
	font-size: 6rem;
	border-bottom: solid 1px #fff;
	padding-bottom: 0.3em;
    font-family: 'Rubik', sans-serif;
}

#header p{    
    margin: 0;
	font-size: 2em;
	
}



.pisc {
    -webkit-animation-name: pisca; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: pisca;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    color: #fff;
    font-weight:1000;
    
}

@-webkit-keyframes pisca {
  0%   {opacity: 1;transition: 0.8s;}
  50%  {opacity: 0.0;transition: 0.8s;}
  100% {opacity: 1;transition: 0.8s;}
}

.no-sticky{
    float: right;
    right: 55px;
    top:40px;
}

.no-sticky .nav-item-transf{
    /*border: 1px solid rgba(240, 65, 30, 1);*/
    transition: 1.5s;
    margin-left: 15px;
    width: 150px;
    text-align: center;
    border-radius: 8px;
}
.no-sticky .nav-item-transf a{
    color:rgba(240, 65, 30, 1) !important;
    text-transform: uppercase;
    border-radius: 8px;
}

.no-sticky .nav-item-transf:first-child a{
    color:white !important;
    text-transform: uppercase;
    border-radius: 8px;
}

.no-sticky .nav-item-transf:first-child{
    background-color: orangered;
    background-image: linear-gradient(to right, orangered, red);
    background-image: linear-gradient(to right, orangered, red);
    border-radius: 8px;
}

.no-sticky .nav-item-transf:hover, .no-sticky .nav-item-transf:hover a{
    background-color: orangered;
    background-image: linear-gradient(to right, orangered,  red);
    color: white !important;
    border-radius: 8px;
    transition: 1s;
}

.yes-sticky{
    width: 100%;
    position: fixed !important;
    z-index: 999 !important;
        
}

#stickymenu{
    transition:2s;

}




.buton li:first-child{ 
    background-image: linear-gradient(to right, orangered, red);
    background-color: orangered;
    border: solid 1px orangered;
    border-radius: 8px;
}
.buton li:first-child a{ color:white}
.buton li a {padding: 20px 45px;}
.buton li{
    background-color: transparent;
    border: solid 1px orangered;
    border-radius: 8px;
    margin-left: 55px;
    width: 220px;
    line-height: 35px;
    text-align: center;
    padding: 10px;
    list-style: none;
    float: left;
}

.buton li a{
    text-decoration: none;
    color: orangered;
    text-transform: uppercase;
    font-size: 1.2em;
}


#footer{
    display: block;
    width: 100%;
    height: 500px;
    background-color: #121212;
}
#divFooter{
    width: 100%;
    height: 65px;
    background-color: #171717;
    box-shadow: 0px 4px 12px #0005;
}
