html{
   scroll-behavior:smooth;
   
}
body{ max-width: 100% ;}
#information, #grid-item, #question-section, #about-me, #skill-section {
    display: block;
    max-width: 100%;
}

/*---------Header----------*/
#header > *{
    z-index: 5;
}
#header {
    width: 100%;
    display: flex;
    height: 675px;
    color: #fff;
    flex-flow: column;
    background-color: orangered;
    background-image: linear-gradient(110deg, #461571,orangered );
    text-shadow: 3px 3px 19px rgba(0, 0, 0, 0.267);

    
}
#header::before{
    width: 100%;
    display: flex;
    height: 630px;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: grayscale(55%) brightness(0.9);
    background-attachment: fixed;
    transition: 1s;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    background-image: url(../img/5.jpg);
    border-bottom-right-radius: 300px;

}
#header::after{
    width: 100%;
    display: flex;
    height: 630px;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom-right-radius: 300px;
    background-image: linear-gradient(45deg, black, transparent, transparent, transparent), linear-gradient(135deg, black, transparent);

}
#header h1{
    top:30%;
	font-size:40px;
	padding-bottom: 0.3em;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    position: relative;
    transition: 1s;
    display: flex;
    flex-flow: wrap;
}
#header p{    
    margin: 0;
	font-size: 2em;
}

/*-----Menu-----*/
.no-sticky{
    float: right;
    right: 0px;
    height: 100px;
    padding-top: 10px !important;
    border-bottom: 2px solid rgba(249, 249, 249, 0.02);
    border-top: 5px solid rgba(255, 60, 0, 0.87);
    background-color: #0000000f;
    
}
.no-sticky .nav-item-transf{
    margin-left: 45px;
    width: 170px;
    text-align: center;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.031);
    font-size: 18px;
    font-weight: 400;
    transition: 1.5s;
}
.no-sticky .nav-item-transf a{
    color:rgba(240, 65, 30, 1) !important;
    text-transform: uppercase;
    border-radius: 40px;
    transition: 1.5s;
    background-image: linear-gradient(to right, transparent, transparent);
}
.no-sticky .nav-item-transf:first-child a{
    color:white !important;
    text-transform: uppercase;
}
.no-sticky .nav-item-transf:first-child{
    background-color: orangered;
    background-image: linear-gradient(to right, orangered, red);
    border-radius: 40px;
}
.no-sticky .nav-item-transf:hover, .no-sticky .nav-item-transf:hover a{
    background-color: orangered;
    background-image: linear-gradient(to right, orangered,  red);
    color: white !important;
    border-radius: 40px;
    transition: 1.5s;
}
.no-sticky .nav-item-transf:first-child:hover, .no-sticky .nav-item-transf:first-child:hover a{
    transition: 1.5s;
    background: rgba(255, 255, 255, 0);
    color: orangered !important;
}
.no-sticky .nav-item-transf:first-child:hover{
    border: 1px solid orangered;
    background: rgba(255, 255, 255, 0);
}
.yes-sticky{
    width: 100%;
    position: fixed !important;
    z-index: 999 !important;
    
        
}
.yes-sticky h1{
    font-size: 25px !important;
    transition: 1s;
}
.bg-dark-transp{
    background: #1e2125d7 !important;
}
#typed-box{
    position: relative;
    margin: auto auto auto 5%;
    width: 900px;
}


/*------Buttons-------*/
.buton li:first-child{ 
    background-image: linear-gradient(to right, orangered, red);
    background-color: orangered;
    border: solid 1px orangered;
    border-radius: 30px;
    margin-right: 55px;
}
.buton li:first-child a{ color:white}
.buton li a {padding: 20px 45px;}
.buton li{
    background-color: transparent;
    border: solid 1px orangered;
    border-radius: 30px;
    margin-top: 25px;
    width: 220px;
    line-height: 35px;
    text-align: center;
    padding: 10px;
    list-style: none;
    float: left;
}
.buton li a{
    text-decoration: none;
    color: orangered;
    text-transform: uppercase;
    font-size: 1.2em;
}


/*------Information------*/
#information {
    background-color: #fff;
    min-height: 600px;
    display: flex;
    flex-flow: wrap;
    padding: 50px 0px;
   
}
#information h2{
    font-family: 'Rubik', sans-serif;
    font-size: 2.8rem;
    font-weight: 600 !important;
    color: orangered;
    margin-left: 5%;  
}
#information h3{
    font-weight: 000;
    line-height: 50px;
    font-size: 2rem;
    margin-left: 5%;
    margin-top: 50px;
}
#information img{
    position: relative;
    max-width:100%;
    max-height: 300px;
    margin: 70px 00px 0 0px;
}

/*-----Grid Item-----*/
#grid-item{
    width: 100%;
    padding: 5%;
    background-color: rgb(251, 251, 251);
    background-image: linear-gradient(45deg, rgb(0, 10, 82), orangered);
}
#grid-item .glyphicon{
    font-size: 60px;
    left: 40%;
    color: rgb(255, 38, 0);
    text-shadow: 3px 3px 15px #00000045
}
#grid-item p {
    color: whitesmoke;
    text-shadow: 3px 3px 10px #00000078;
}
#grid-item h4{
    /*color:rgba(223, 59, 0, 0.829);*/
    color:white;
    text-shadow: 3px 3px 10px #00000078;
}
#grid-item h2{
    color: white;
    text-align: center;
    margin-bottom: 45px;
    font-size: 3rem;
    font-weight: 550;
    font-family: 'Rubik', sans-serif;
    text-shadow: 3px 3px 10px #00000078;
}
#grid-item .col-lg-4 .row {
    margin-bottom: 40px;
}
#grid-item .col-lg-4:hover h4{
    color: rgb(255, 38, 0);
}
#grid-item .col-lg-4:hover .glyphicon-wrench{
    animation: anima-glyphicon-wrench 1.2s 2;
    transition: 1s;
}
#grid-item .col-lg-4:hover .glyphicon-stats{
    text-align: center;
    animation: flip 1.5s 2;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    transition: 1s;
}
#grid-item .col-lg-4:hover .glyphicon-cloud{
    animation: rubberBand 1.2s 2;
    transition: 1s;
}
#grid-item .col-lg-4:hover .glyphicon-pencil{
    animation: anima-glyphicon-pencil 2s 2;
    transition: 1s;
}
#grid-item .col-lg-4:hover .glyphicon-qrcode{
    animation: flash 4s 1;
    transition: 1s;
}
#grid-item .col-lg-4:hover .glyphicon-phone{
    animation: tada 1.2s 2;
    transition: 1s;
}


/*--------Question Section-------*/
#question-section {
    background-color: #3a3a3a;
    clip-path: polygon(0% 0%, 0% 100%, 100% 90%, 100% 0%);
    min-height: 510px;
    background-image: radial-gradient(transparent, black, black);
    max-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;
    overflow: hidden;
    text-shadow: 3px 3px 19px #0008;
}
#question-section .container{
    min-height: 580px;
    height: 600px;
    max-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    flex-flow: column;
    position: relative;
    z-index: 3;
}
#question-section h2{
    color: white;
    font-size: 4rem;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
}
#question-section h3{
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    color: orangered;
}
#question-section .buton {z-index: 2;}
#question-section h2{z-index: 2;margin: 00px;}
#question-section .background {
    width: 100%;
    min-height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: blue;
    background-attachment: fixed;
    background-image: url(../img/7.jpg);
    background-position: top;
    background-size: cover;
    z-index: 1;
    filter: blur(4px)grayscale(50%) opacity(0.15);
    top: -600px;
    position: relative;
}


/*--------About Me---------*/
#about-me{
    background-color: white; 
    line-height: 2.2rem;
    font-size: 1.37rem;
    display: flex;
    flex-flow: wrap;
    min-height: 350px;
    transition: 1s;
  
}
#about-me h2{line-height: 5.4rem;font-size: 2.3rem;}

/*------About Me > Description -------*/
.opacityObj{
    opacity: 0.0;
    transition: 1s;
}
.about {
    float: left;
    color: #2d2d33;
    
}
.about h2{
    color:rgba(240, 65, 30, 1);
}
.img-user {
	display: flex;
	position: relative;
	top: -150px;
    width: 350px;
    height: 350px;
    max-width: 100%;
	border-radius: 50%;
    background-color: white;
    margin-left: 12%;
    margin-right: 20px;
    z-index: 1;
    float: left;
    
}
.img-user img{
	display: block;
	margin: 5%;
	border-radius: 50%;
	width: 90%;
    height: 90%;
    

}

/*-------About Me > Time-Line-------*/

.time-line{
    margin: auto;
    width: 100%;
    background: #2a2a2a;
    clip-path: polygon(0% 0%, 0% 95%, 50% 100%, 100% 95%, 100% 0%, 50% 5%);
}

.time-line .right{
    position:relative;
}

.time-line .time-line-point{
    margin: auto;
    width: 34px;
    height: 34px;
    display: flex; 
    padding: 2px; 
    border-radius: 50%; 
    border: solid 4px rgb(255, 100, 44);
    background: rgb(235, 235, 235);
}

.time-line .left .time-line-point p{
    left: -80px;
    width: 50px;
    position: relative;
    color: orangered;
    font-size: 30px;
    font-weight: 500;
    top: -10px;
} 
.time-line .right .time-line-point p{
    left: 40px;
    width: 50px;
    position: relative;
    color: orangered;
    font-size: 30px;
    font-weight: 500;
    top: -10px;
} 
.time-line-box {
    background: white;
    top: 80px;
    width: 300px;
    height: 150px;
    border-radius: 11px;
    box-shadow: 2px 4px 10px #0000002e;
}

.time-line-box h3{
    text-align: center;
    background: orangered;
    padding: 10px 0px 10px 0px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-size:35px;
}
.time-line-box p{
    color: orangered;
    /*text-indent: 50px;*/
    text-align: center;
    font-size: 25px;

}

.time-line .right .time-line-box{
    position: absolute;
    left: calc(50% + 60px);

}


.time-line .right .time-line-box::after{
    content: " ";
    height: 0;
    position: absolute;
    top: 20px;
    width: 0;
    z-index: 1;
    left: -14px;
    border: medium solid orangered;
    border-width: 12px 15px 12px 0;
    border-color: transparent orangered transparent transparent;
}

.time-line .left{
    position:relative;
}

.time-line .left .time-line-box{

    position: absolute;
    right: calc(50% + 60px);

}

.time-line .left .time-line-box::after{
     content: " ";
     height: 0;
     position: absolute;
     top: 20px;
     width: 0;
     z-index: 1;
     right: -15px;
     border: medium solid orangered;
     border-width: 12px 0px 12px 15px;
     border-color: transparent transparent transparent orangered;
 }


.time-line .time-line-div {
    margin: auto;
    display: flex; 
    width: 0px; 
    height: 150px; 
    border: solid 3px rgb(255, 100, 44);
}


/*----- Skill Section-------*/

#skill-section {
    background-color: white; 
    line-height: 2.2rem;
    font-size: 1.37rem;
    display: flex;
    flex-flow: no-wrap;
    padding: 65px;
    height: 550px;
    transition: 1s;
    
}


/*------Footer--------*/
#footer{
    display: block;
    width: 100%;
    height: 500px;
    background-color: #121212;
}
#footer::before{
    content: '';
    display: block;
    width: 100%;
    height: 65px;
    background-color: #171717;
    box-shadow: 0px 4px 12px #0005;
}


/*------Animations-------*/
@-webkit-keyframes anima-glyphicon-wrench {
    0% {-webkit-transform: rotate(0deg);}
    50%{-webkit-transform: rotate(35deg);top:-12px;}
    100% {-webkit-transform: rotate(0deg);}
}
@-webkit-keyframes anima-glyphicon-pencil {
    0% {-webkit-transform: rotate(0deg);}
    15%{-webkit-transform: rotate(-40deg);top:-12px;}
    30%{-webkit-transform: rotate(-20deg);top:-12px;}
    45%{-webkit-transform: rotate(-40deg);top:-12px;}
    60%{-webkit-transform: rotate(-20deg);top:-12px;}
    75%{-webkit-transform: rotate(-40deg);top:-12px;}
    100% {-webkit-transform: rotate(0deg);}
}